header {
  display: flex;
  min-height: 100px;
  background-color: coral;
  justify-content: space-between;
}

.aside-logo {
  display: block;
  width: 178px;
  height: 56px;
  background-color: rgb(248, 192, 172);
  border: 2px solid black;
  border-radius: 10px;
}

.img-logo {
  box-sizing: content-box;
  width: 162px;
  height: 38px;
  padding: 6px;
  margin: 0px;
}

.nav-bar {
  display: flex;
}

.nav-down {
  display: none;
}

.nav-list {
  padding: 0px;
  margin: 0px;
}

.navi-link a {
  text-decoration: none;
  color: white;
}

.visiting {
  background-color: gray;
}

.navi-here {
  font-size: large;
  padding: 6px 0px 0px 0px;
  margin: 0px;
}

.searching {
  flex: auto;
}

ul.d-flex {
  padding-left: 0px;
}

ul.d-flex li {
  list-style-type: none;
  margin: 3px;
}

.text-search {
  flex-shrink: 0;
  width: 190px;
}

.input-search {
  width: auto;
}

.card {
  width: 250px;
  margin: 10px;
}

.contact-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.contact-list li label {
  width: 100px;
  font-weight: 500;
  font-size: large;
  margin: 10px;
}

.contact-list li input {
  max-width: 300px;
}

.social {
  list-style-type: none;
}

ul.social li {
  margin: 10px;
  height: 20px;
  width: 20px;
}

.text-area {
  width: 262px;
  height: 130px;
  margin-top: 10px;
  margin-left: 4px;
  resize: none;
}

.button-contact-submit {
  margin-top: 10px;
}

.main-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics-table {
  border: 1px solid black;
  max-width: 900px;
  margin-top: -1px;
}

.statistics-head {
  text-align: center;
  font-size: 24px;
}

.statistics-body {
  text-align: center;
  font-weight: bold;
}

tbody.statistics-body td {
  box-sizing: border-box;
  border: 1px solid black;
  width: 300px;
}

@media screen and (min-width: 511px) and (max-width: 690px) {
  header {
    flex-direction: column;
    justify-content: center;
  }

  .aside-logo {
    margin: 5px;
  }

  .nav-bar {
    margin: 5px;
  }
}

@media screen and (max-width: 510px) {
  header {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .nav-bar {
    display: none;
  }

  .nav-down {
    display: block;
    margin: 5px;
  }

  .aside-logo {
    margin: 5px;
  }
}
